<!--
 Hello, Im Know you're a web developer or programmer,
 Please fork this repository if you see a bug or if you have an idea
 and make a pull request for it
 by SONIXDEV(Arsalan), CODE YOUR FUTURE TEAM LEADER
-->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Library Management</title>
        <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,container-queries"></script>
    </head>
    <body>
        <header class="bg-blue-500 *:text-white">
            <h1 class="py-5 text-center text-3xl">Library Management</h1>
        </header>
        <main class="flex items-center justify-center text-center">
            <div class="mr-10">
                <h3>Name</h3>
                <ol id="Name"></ol>
            </div>
            <div class="mr-10">
                <h3>Print Serie Number</h3>
                <ol id="Print Series"></ol>
            </div>
            <div class="mr-10">
                <h3>For Age</h3>
                <ol id="Age"></ol>
            </div>
            <div>
                <h3>Model</h3>
                <ol id="Model"></ol>
            </div>
        </main>
        <footer
            class="fixed bottom-0 h-16 w-full bg-blue-600 text-center *:text-white"
        >
            <p class="mb-2">
                Developed by
                <a href="https://github.com/pythonmohseni">SONIXDEV(Arsalan)</a>
                and
                <a href="https://github.com/kambiz1981">CODER1991(Kambiz)</a>
            </p>
            <p>
                <span>&copy;</span>Copyright all rights reserved by CODE YOUR
                FUTURE TEAM
            </p>
        </footer>
    </body>
</html>
